{% extends 'index.html' %}
{% load static %}
{% block content %}

        <div id="page" class="container">
	        <div id="main">
		        <div id="featured">
			        <div class="title">
				        <h2>CNNS Data Users Workshop</h2>
				        <span class="byline">(Click on the links to download)</span>
			        </div>
			        <ul class="style1">
				        <li>
					        <p><a href="{%static 'dataUsersWorkshop/1-CNNS-FILM-01-FINAL-MASTER-MIXED.mp4'%}" target="_blank">CNNS implementation in field – 5 minutes film</a></p>
				        </li>
				        <li>
					        <p><a href="{%static 'dataUsersWorkshop/2-CNNS-Key-Findings-and-Emerging-Issues.mp4'%}" target="_blank">Key findings and emerging issues from CNNS –Presentation</a></p>
				        </li>
				        <li>
					        <p><a href="{%static 'dataUsersWorkshop/3-Emphasis-on-data-quality-in-CNNS.mp4'%}" target="_blank">Emphasis on data quality in CNNS – Presentation</a></p>
                        </li>
                        <li>
					        <p><a href="{%static 'dataUsersWorkshop/4-CNNS-data-structure-and-precautions-in-data-analysis-and-results-interpretation.mp4'%}" target="_blank">CNNS data structure and precautions in analysis and results interpretation – Presentation</a></p>
                        </li>
                        <li>
					        <p><a href="{%static 'dataUsersWorkshop/5_Sample-weights-application.mp4'%}" target="_blank">How to use different survey weights in CNNS–Presentation</a></p>
                        </li>
                        <li>
					        <p><a href="{%static 'dataUsersWorkshop/6_Presentation -5_Sample-weights-application.mp4'%}" target="_blank">Analysis of survey and biological sample distribution at national level – Presentation</a></p>
                        </li>
                        <li>
					        <p><a href="{%static 'dataUsersWorkshop/7_Analysis-of-Anthropometry-data.mp4'%}">Analysis of Anthropometry indicators – Presentation</a></p>
                        </li>
                        <li>
					        <p><a href="{%static 'dataUsersWorkshop/8_Analysis-of-Biomarker-data.mp4'%}" target="_blank">Analysis of Micronutrients deficiency indicators – Presentation</a></p>
                        </li>
                        <li>
					        <p><a href="{%static 'dataUsersWorkshop/9-CNNS-Analysis-of-Non-Communicable-Diseases-(NCDs)-indicators.mp4'%}" target="_blank">Analysis of NCDs indicators – Presentation</a></p>
                        </li>
                        <li>
					        <p><a href="{%static 'dataUsersWorkshop/10-CNNS_data_user_practice.dta'%}" target="_blank">CNNS small data set for practice – Stata data file</a></p>
				        </li>
						<li>
					        <p><a href="{%static 'dataUsersWorkshop/CNNS-v1.0-Data-Note-for-MoHFW.pdf'%}" target="_blank">CNNS v1.0 Data Note for MoHFW</a></p>
				        </li>
			        </ul>
		        </div>
	        </div>
        </div>

{% endblock %}