{% extends 'index.html' %}
{% load static %}
{% static "pdf" as baseURL %}

{% block content %}

        <div id="page" class="container">
	        <div id="main">
                <div id="featured">
                    <div class="title">
                        <h2>CNNS QUESTIONNAIRE</h2>
                    </div>
                    <ul class="style1">
                        <li >
                            <p><a href="{%static 'questionnaire/CNNS-Anthro-form.pdf'%}" target="_blank">Anthropometry Data Form</a></p>
                        </li>
                        <li>
                            <p><a href="{%static 'questionnaire/Household-Quest_Hind_Eng_23082017.pdf' %}" target="_blank">Household Questionnaire</a></p>
                        </li>
                        <li>
                            <p><a href="{%static 'questionnaire/Ind-0-4-Quest_Hind_Eng_26082017.pdf'%}" target="_blank">0-4 Years Children Form</a></p>
                        </li>
                        <li>
                            <p><a href="{%static 'questionnaire/Ind-5-9-Quest_Hind_Eng_28082017.pdf'%}" target="_blank">5-9 Years Children Form</a></p>
                        </li>
                        <li>
                            <p><a href="{%static 'questionnaire/Ind-10-14-Quest_Hind_Eng_28082017.pdf'%}" target="_blank">10-14 Years Adolescents Form</a></p>
                        </li>
                        <li>
                            <p><a href="{%static 'questionnaire/Ind-15-19-Quest_Hind_Eng_28082017.pdf'%}" target="_blank">15-19 Years Adolescents Form</a></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
  
{% endblock %}
