{% extends 'index.html' %}
{% load static %}
{% static "pdf" as baseURL %}

{% block content %}

        <div id="page" class="container">
	        <div id="main">
                <div id="featured">
                    <div class="title">
                        <h2>CNNS Thematic Report</h2>
                    </div>
                    <ul class="style1">
                        <li >
                            <p><a href="{%static 'thematicReport/CNNS_Thematic_Report1_Adolescents_Diets_and_Nutrition_November_10_2019-1.pdf'%}" target="_blank">Adolescents, diet and nutrition thematic report (Issue 1)</a></p>
                        </li>
                        <li>
                            <p><a href="{%static 'thematicReport/Adolescents-Diets-Nutrition-highlights_2019_10_31-.pptx' %}" target="_blank">Adolescents, diet and nutrition highlights</a></p>
                        </li>
                        <li>
                            <p><a href="{%static 'thematicReport/Adolescent-Recipe-book_Website-version.pdf'%}" target="_blank">Packed lunch/snack recipe for adolescents</a></p>
                        </li>
                        <li>
                            <p><a href="{%static 'thematicReport/Adolescent-Pamphlet_website-version.pdf'%}" target="_blank">Adolescents, diet and nutrition pamphlet</a></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
  
{% endblock %}
